#include <winver.h>

#define VERSION_STR "v3.0.0"
#define VERSION_FILEVERSION 3,0,0,0

VS_VERSION_INFO VERSIONINFO
FILEVERSION     VERSION_FILEVERSION
PRODUCTVERSION  VERSION_FILEVERSION
FILEFLAGSMASK   0x3FL
FILEFLAGS       0x0L
FILEOS          0x40004L
FILETYPE        VFT_APP
FILESUBTYPE     0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName",      "DynamiByte\0"
            VALUE "FileDescription",  "Endfield Uncensored\0"
            VALUE "FileVersion",      VERSION_STR "\0"
            VALUE "InternalName",     "Endfield Uncensored\0"
            VALUE "LegalCopyright",   "\xA9 2026 DynamiByte\0"
            VALUE "OriginalFilename", "EFULoader.exe\0"
            VALUE "ProductName",      "Endfield Uncensored\0"
            VALUE "ProductVersion",   VERSION_STR "\0"
            VALUE "Comments",         "Author: DynamiByte\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
