#include <winver.h>
#include "version_generated.h"

VS_VERSION_INFO VERSIONINFO
FILEVERSION     VERSION_FILEVERSION
PRODUCTVERSION  VERSION_FILEVERSION
FILEFLAGSMASK   0x3FL
FILEFLAGS       0x0L
FILEOS          0x40004L
FILETYPE        VFT_APP
FILESUBTYPE     0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName",      "DynamiByte\0"
            VALUE "FileDescription",  "Endfield Uncensored\0"
            VALUE "FileVersion",      VERSION_STR "\0"
            VALUE "InternalName",     "EFU\0"
            VALUE "LegalCopyright",   "\xA9 2026 DynamiByte\0"
            VALUE "OriginalFilename", "EFU.exe\0"
            VALUE "ProductName",      "Endfield Uncensored\0"
            VALUE "ProductVersion",   VERSION_STR "\0"
            VALUE "Comments",         "Author: DynamiByte\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END

1 ICON "EFU.ico"
1 24 "app.manifest"
